<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastCampusBasic"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Part2.chapter3.NotificationActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Part2.chapter2.RecordActivity"
            android:exported="true" />
        <activity
            android:name=".Part2.chapter1.WebtoonActivity"
            android:exported="true" />

        <receiver
            android:name=".Part1.chapter9.LowBatteryReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".Part1.chapter9.MediaPlayerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Part1.chapter9.MusicActivity"
            android:exported="true" />
        <activity
            android:name=".Part1.chapter8.FrameActivity"
            android:exported="false" />
        <activity
            android:name=".Part1.chapter8.GalleryActivity"
            android:exported="true" />
        <activity
            android:name=".Part1.chapter7.AddActivity"
            android:exported="false" />
        <activity
            android:name=".Part1.chapter7.WordActivity"
            android:exported="true" />
        <activity
            android:name=".Part1.chapter6.StopwatchActivity"
            android:exported="true" />
        <activity
            android:name=".Part1.chapter5.CalculatorActivity"
            android:exported="true" />
        <activity
            android:name=".Part1.chapter4.MedicalEditActivity"
            android:exported="true" />
        <activity
            android:name=".Part1.chapter4.MedicalViewActivity"
            android:exported="true" />
        <activity
            android:name=".Part1.chapter3.ConverterActivity"
            android:exported="true" />
        <activity
            android:name=".Part1.chapter2.CounterActivity"
            android:exported="true" />
    </application>

</manifest>